@keyframes spin {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}

.loading-message {
    margin-top: 10px;
    text-align: center;
}

.spinner {
    width: 90px;
    height: auto;
    display: inline-block;
    animation: spin 1s linear infinite;
}
