.rewind, .up-next {
    padding: 5px;
    text-align: center;
}

.rewind-title, .up-next-title {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: rgba(239, 167, 145);
}

.rewind-list-items, .up-next-list-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.media-list {
    min-width: 280px;
}

.media-type-column {
    flex: 1;
    border-left: 4px solid rgba(255, 109, 68, 0.543);
    margin-left: -1px;
    padding-right: 1px;
}

.media-list h2 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.media-type-column:first-child {
    border-left:none;
    padding-left: 0;
}

.about-title {
    text-align: center;
}

.about-message {
    text-align: center;
    font-size: 20px;
}